* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

header {
  height: 720px;
  width: 100%;
  background-image: url(../images/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

header nav img {
  padding: 35px 0;
}

header nav {
  background-color: #000;
}

header nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav li {
  display: inline-block;
}

header nav a {
  display: block;
  line-height: 30px;
  padding: 50px 10px;
  color: #FFF;
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
}

header nav a:hover {
  color: #B78B57;
  border-bottom: 5px solid #B78B57;
  padding-bottom: 45px;
  margin: 0 auto;
}

header .hero {
  text-align: center;
  text-transform: uppercase;
}

header .hero h1 {
  color: #FFF;
  margin-top: 140px;
  font-size: 60px;
}

header .hero h1 .span-brown {
  color: #B88B58;
}

header .hero p {
  font-size: 25px;
  font-weight: 600;
  color: #FFF;
  margin-top: -30px;
}

header .hero .button {
  width: 195px;
  height: 45px;
  color: #FFF;
  background-color: #B88B58;
  border-color: #B88B58;
  border-radius: 25px;
  margin: 60px auto 0 auto;
  padding-top: 13px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

header .hero .button:hover {
  background-color: #000;
}

header .hero .pagination-dots {
  margin-top: 110px;
}

header .hero .call-button {
  text-align: right;
  margin: 0px 50px;
}

header .hero .call-button .call-button-icon {
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  color: #FFF;
  background-color: #B78B57;
  font-size: 32px;
  padding-bottom: 5px;
  cursor: pointer;
}

header .hero .call-button .call-button-icon:hover {
  transform: scale(1.1);
}

.about-us .about-us-header {
  text-transform: uppercase;
  text-align: center;
}

.about-us .about-us-header h1 {
  font-size: 30px;
  color: #000;
  margin-top: 60px;
}

.about-us .about-us-header p {
  font-size: 15px;
  font-weight: 600;
  color: #ADADAD;
  margin-top: -20px;
}

.about-us .about-us-text p {
  padding-top: 5px;
}

.about-us .about-us-text img {
  width: 100%;
  height: auto;
}

.about-us .button {
  width: 195px;
  height: 45px;
  border-radius: 25px;
  color: #FFF;
  background-color: #B88B58;
  border-color: #B88B58;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 60px;
  padding-top: 13px;
  cursor: pointer;
}

.about-us .button:hover {
  background-color: #000;
}

.services {
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
  padding-bottom: 50px;
}

.services .services-header h1 {
  font-size: 30px;
  margin-top: 60px;
  padding-top: 40px;
  color: #FFF;
}

.services .services-header p {
  font-size: 15px;
  font-weight: 600;
  color: #ADADAD;
  margin-top: -20px;
}

.services .services-content {
  text-align: center;
  margin-top: 40px;
}

.services .services-content h1 {
  text-transform: uppercase;
  font-size: 18px;
  color: #FFF;
}

.services .services-content p {
  text-transform: none;
  color: #3F3F3F;
  font-size: 14px;
  font-weight: 500;
}

.services .services-content .service-icon {
  width: 70px;
  height: 70px;
  font-size: 60px;
  color: #B78B57;
  background-color: #000;
  border: 1px solid #000;
  cursor: pointer;
}

.services .services-content .service-icon:hover {
  transform: scale(1.1);
}

.services .services-content .service {
  padding: 0 35px;
  border-left: 2px solid #383838;
}

.services .services-content .service-right {
  border-right: 2px solid #383838;
}

.our-projects .our-projects-header {
  text-align: center;
  text-transform: uppercase;
}

.our-projects .our-projects-header h1 {
  font-size: 30px;
  color: #000;
  margin-top: 60px;
}

.our-projects .our-projects-header p {
  font-size: 15px;
  color: #ADADAD;
  margin-top: -20px;
  font-weight: 600;
}

.our-projects .our-projects-nav {
  text-align: center;
  padding: 30px 0;
}

.our-projects .our-projects-nav li {
  display: inline-block;
  border: 1px solid #CFCFCF;
  background-color: #EDEDED;
}

.our-projects .our-projects-nav li:hover {
  border-bottom: 5px solid #B78B57;
  margin-bottom: -5px;
}

.our-projects .our-projects-nav .our-projects-nav-left-end {
  border-radius: 40px 0 0 40px;
  width: 120px;
}

.our-projects .our-projects-nav .our-projects-nav-right-end {
  border-radius: 0 40px 40px 0;
  width: 120px;
}

.our-projects .our-projects-nav a {
  display: block;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 10px;
}

.our-projects .our-projects-gallery-item {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
  margin: 10px;
}

.our-projects .our-projects-gallery-item:hover .layer {
  background: rgba(0, 0, 0, 0.5);
}

.our-projects .our-projects-gallery-item:hover .layer h1,
.our-projects .our-projects-gallery-item:hover .layer p {
  opacity: 1;
}

.our-projects .our-projects-gallery-item .layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
  transition: .8s;
  cursor: pointer;
}

.our-projects .our-projects-gallery-item .layer h1,
.our-projects .our-projects-gallery-item .layer p {
  position: relative;
  padding-top: 10px;
  font-weight: 400;
  opacity: 0;
  transition: .8s;
}

.our-projects .our-projects-button {
  border-radius: 25px;
  width: 195px;
  height: 45px;
  text-align: center;
  background-color: #B88B58;
  border-color: #B88B58;
  color: #FFF;
  margin: 40px auto;
  cursor: pointer;
  padding-top: 13px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.our-projects .our-projects-button:hover {
  background-color: #000;
}

.our-team {
  height: 700px;
  width: 100%;
  background-image: url(../images/team_back.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  text-align: center;
}

.our-team .our-team-header {
  text-transform: uppercase;
}

.our-team .our-team-header h1 {
  margin-top: 60px;
  padding-top: 40px;
  color: #FFF;
  font-size: 30px;
}

.our-team .our-team-header p {
  margin-top: -20px;
  color: #ADADAD;
  font-size: 15px;
  font-weight: 600;
}

.our-team .our-team-content {
  text-align: center;
}

.our-team .our-team-content .our-team-item {
  height: 432px;
  max-width: 335px;
  margin: 15px;
  padding-top: 50px;
  border-radius: 5px;
  background-color: #FFF;
}

.our-team .our-team-content .our-team-item h1 {
  text-transform: uppercase;
  font-weight: 500;
}

.our-team .our-team-content .our-team-item p {
  margin-top: -15px;
}

.our-team .our-team-content .our-team-item img {
  opacity: 1;
  cursor: pointer;
}

.our-team .our-team-content .our-team-item img:hover {
  opacity: 0.7;
  transition: 1s;
}

.our-team .our-team-content .our-team-item .social-buttons {
  margin-top: 35px;
  background-color: #FFF;
}

.our-team .our-team-content .our-team-item .social-buttons .social-button {
  width: 35px;
  height: 35px;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #BDBDBD;
  border: 0;
  border-radius: 50%;
  margin: 1px;
  cursor: pointer;
}

.our-team .our-team-content .our-team-item .social-buttons .social-button:hover {
  transform: scale(1.1);
  background-color: #B78B58;
}

.our-team .pagination-dots {
  text-align: center;
  margin-top: 50px;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0px;
  width: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */