* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

header {
    height: 720px;
    width: 100%;
    background-image: url(../images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    nav img {
        padding: 35px 0;
    }
    nav {
        background-color: #000;
        ul {
            float: right;
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        li {
            display: inline-block;
        }
        a {
            display: block;
            line-height: 30px;
            padding: 50px 10px;
            color: #FFF;
            font-size: 14px;
            font-weight: bolder;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                color: #B78B57;
                border-bottom: 5px solid #B78B57;
                padding-bottom: 45px;
                margin: 0 auto;
            }
        }
    }
    .hero {
        text-align: center;
        text-transform: uppercase;
        h1 {
            color: #FFF;
            margin-top: 140px;
            font-size: 60px;
            .span-brown {
                color: #B88B58;
            }
        }
        p {
            font-size: 25px;
            font-weight: 600;
            color: #FFF;
            margin-top: -30px;
        }
        .button {
            width: 195px;
            height: 45px;
            color: #FFF;
            background-color: #B88B58;
            border-color: #B88B58;
            border-radius: 25px;
            margin: 60px auto 0 auto;
            padding-top: 13px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                background-color: #000;
            }
        }
        .pagination-dots {
            margin-top: 110px;
        }
        .call-button {
            text-align: right;
            margin: 0px 50px;
            .call-button-icon {
                width: 60px;
                height: 60px;
                border: 0;
                border-radius: 50%;
                color: #FFF;
                background-color: #B78B57;
                font-size: 32px;
                padding-bottom: 5px;
                cursor: pointer;
                &:hover {
                    transform: scale(1.10);
                }
            }
        }
    }
}

.about-us {
    .about-us-header {
        text-transform: uppercase;
        text-align: center;
        h1 {
            font-size: 30px;
            color: #000;
            margin-top: 60px;
        }
        p {
            font-size: 15px;
            font-weight: 600;
            color: #ADADAD;
            margin-top: -20px;
        }
    }
    .about-us-text p {
        padding-top: 5px;
    }
    .about-us-text img {
        width: 100%;
        height: auto;
    }
    .button {
        width: 195px;
        height: 45px;
        border-radius: 25px;
        color: #FFF;
        background-color: #B88B58;
        border-color: #B88B58;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 60px;
        padding-top: 13px;
        cursor: pointer;
        &:hover {
            background-color: #000;
        }
    }
}

.services {
    text-align: center;
    text-transform: uppercase;
    background-color: #000;
    padding-bottom: 50px;
    .services-header {
        h1 {
            font-size: 30px;
            margin-top: 60px;
            padding-top: 40px;
            color: #FFF;
        }
        p {
            font-size: 15px;
            font-weight: 600;
            color: #ADADAD;
            margin-top: -20px;
        }
    }

    .services-content {
        text-align: center;
        margin-top: 40px;
        h1 {
            text-transform: uppercase;
            font-size: 18px;
            color: #FFF;
        }
        p {
            text-transform: none;
            color: #3F3F3F;
            font-size: 14px;
            font-weight: 500;
        }
        .service-icon {
            width: 70px;
            height: 70px;
            font-size: 60px;
            color: #B78B57;
            background-color: #000;
            border: 1px solid #000;
            cursor: pointer;
            &:hover {
                transform: scale(1.10);
            }
        }
        .service {
            padding: 0 35px;
            border-left: 2px solid #383838;
        }
        .service-right {
            border-right: 2px solid #383838;
        }
    }
}

.our-projects {
    .our-projects-header {
        text-align: center;
        text-transform: uppercase;
        h1 {
            font-size: 30px;
            color: #000;
            margin-top: 60px;
        }
        p {
            font-size: 15px;
            color: #ADADAD;
            margin-top: -20px;
            font-weight: 600;
        }
    }
    .our-projects-nav {
        text-align: center;
        padding: 30px 0;
        li {
            display: inline-block;
            border: 1px solid #CFCFCF;
            background-color: #EDEDED;
            &:hover {
                border-bottom: 5px solid #B78B57;
                margin-bottom: -5px;
            }
        }
        .our-projects-nav-left-end {
            border-radius: 40px 0 0 40px;
            width: 120px;
        }
        .our-projects-nav-right-end {
            border-radius: 0 40px 40px 0;
            width: 120px;
        }
        a {
            display: block;
            color: #000;
            text-decoration: none;
            text-transform: uppercase;
            padding: 20px 10px;
        }
    }
    .our-projects-gallery-item {
        display: block;
        position: relative;
        width: auto;
        height: 100%;
        margin: 10px;
        &:hover .layer {
            background: rgba(0, 0, 0, .5);
            h1,
            p {
                opacity: 1;
            }
        }
        .layer {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            color: #fff;
            text-align: center;
            transition: .8s;
            cursor: pointer;
            h1,
            p {
                position: relative;
                padding-top: 10px;
                font-weight: 400;
                opacity: 0;
                transition: .8s;
            }
        }
    }
    .our-projects-button {
        border-radius: 25px;
        width: 195px;
        height: 45px;
        text-align: center;
        background-color: #B88B58;
        border-color: #B88B58;
        color: #FFF;
        margin: 40px auto;
        cursor: pointer;
        padding-top: 13px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        &:hover {
            background-color: #000;
        }
    }
}

.our-team {
    height: 700px;
    width: 100%;
    background-image: url(../images/team_back.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    text-align: center;
    .our-team-header {
        text-transform: uppercase;
        h1 {
            margin-top: 60px;
            padding-top: 40px;
            color: #FFF;
            font-size: 30px;    
        }
        p {
            margin-top: -20px;
            color: #ADADAD;
            font-size: 15px;
            font-weight: 600;
        }
    }
    .our-team-content {
        text-align: center;
        .our-team-item {
            height: 432px;
            max-width: 335px;
            margin: 15px;
            padding-top: 50px;
            border-radius: 5px;
            background-color: #FFF;
            h1 {
                text-transform: uppercase;
                font-weight: 500;
            }
            p {
                margin-top: -15px;
            }
            img {
                opacity: 1;
                cursor: pointer;
                &:hover {
                    opacity: 0.7;
                    transition: 1s;
                }
            }
            .social-buttons {
                margin-top: 35px;
                background-color: #FFF;
                .social-button {
                    width: 35px;
                    height: 35px;
                    font-size: 15px;
                    color: #FFFFFF;
                    background-color: #BDBDBD;
                    border: 0;
                    border-radius: 50%;
                    margin: 1px;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.10);
                        background-color: #B78B58;
                    }
                }
            }
        }
    }
    .pagination-dots {
        text-align: center;
        margin-top: 50px;
    }
}

.happy-clients {
    text-align: center;
    background-color: #F7F7F7;
    padding-bottom: 46px;
    .happy-clients-header {
        text-transform: uppercase;
        h1 {
            margin-top: 0;
            padding-top: 30px;
            font-size: 30px;
            color: #000; 
        }
        p {
            margin-top: -20px;
            font-size: 15px;
            font-weight: 600;
            color: #ADADAD;
        }
    }
    .happy-clients-content {
        max-width: 700px;
        margin-top: 70px;
        .quote {
            font-size: 30px;
            color: #7D7D7D;
            background-color: #F7F7F7;
            border: 0px;
        }
    }
    .pagination-dots {
        text-align: center;
        margin-top: 54px;
    }
}

.logos {
    text-align: center;
    padding: 40px 0;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    cursor: pointer;
    img {
        &:hover {
            transform: scale(1.10);
        }
    }
}

.price {
    background-color: #F7F7F7;
    padding-bottom: 50px;
    .price-header {
        text-align: center;
        text-transform: uppercase;
        h1 {
            margin-top: 0;
            padding-top: 30px;
            font-size: 30px;
            color: #000;
        }
        p {
            margin-top: -20px;
            font-size: 15px;
            font-weight: 600;
            color: #ADADAD;
        }
    }
    .price-content {
        text-align: center;
        .price-item {
            width: 245px;
            margin: 0 15px 0 15px;
            padding-bottom: 20px;
            border-radius: 5px;
            background-color: #FFF;
            ul {
                list-style-type: none;
                margin-left: -40px;
            }
            li {
                font-size: 12px;
                font-weight: 500;
                text-align: center;
                color: #7E7E7E;
            }
            h1 {
                text-transform: uppercase;
                font-size: 14px;
                padding-top: 20px;
            }
            .price-item-header {
                margin-top: 0;
                font-size: 35px;
                font-weight: 700;
            }
            .price-item-month {
                margin-top: -30px;
                font-size: 12px;
                text-transform: uppercase;
                color: #AEAEAE;
            }
            .price-button {
                width: 150px;
                height: 50px;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                text-align: center;
                background-color: #B88B58;
                border-color: #B88B58;
                color: #FFF;
                margin: 0px auto;
                padding-top: 15px;
                border-radius: 25px;
                cursor: pointer;
                &:hover {
                    background-color: #000;
                }
            }
        }
    }
}

.premium {
    padding-bottom: 30px;
    border-top: 1px solid #D0D0D0;
    .premium-header {
        text-align: center;
        text-transform: uppercase;
        h1 {
            padding-top: 30px;
            font-size: 30px;
            color: #000;
        }
        p {
            margin-top: -20px;
            font-size: 15px;
            font-weight: 600;
            color: #ADADAD;
        }
    }
    .premium-content {
        h1 {
            font-size: 20px;
            text-transform: uppercase;
        }
        p {
            color: #ADADAD;
        }
        .premium-icon {
            margin-top: 13px;
            font-size: 30px;
            color: #B68A57;
            background-color: #FFF;
            border: 0;
        }

        .premium-photo img {
            width: 100%;
            height: auto;
        }
        hr {
            max-width: 100%;
        }
        .premium-button {
            width: 194px;
            height: 45px;
            margin: 30px auto;
            padding-top: 13px;
            border-radius: 25px;
            background-color: #B88B58;
            border-color: #B88B58;
            color: #FFF;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                background-color: #000;
            }
        }
    }
    .pagination-dots {
        text-align: center;
        margin-top: 50px;
    }
}

.some-facts {
    min-height: 410px;
    max-height: 100%;
    background-color: #000;
    text-align: center;

    .some-facts-header {
        text-transform: uppercase;
        h1 {
            font-size: 30px;
            color: #FFF;
            padding-top: 30px;
        }
        p {
            margin-top: -20px;
            font-size: 15px;
            color: #ADADAD;
            font-weight: 600;
        }
    }
    .some-facts-content {
        h1 {
            font-size: 45px;
            color: #B88B58;
            cursor: pointer;
            &:hover {
                transform: scale(1.10);
            }
        }
        h2 {
            font-size: 18px;
            text-transform: uppercase;
            color: #FFF;
            padding: 0 30px;
        }
        hr {
            margin-top: -30px;
            width: 20px;
            border: 2px solid #7E7E7E;
        }
        p {
            padding: 0 30px;
            font-size: 15px;
            color: #7E7E7E;
        }
    }
}

.social-icons {
    padding: 20px 0;
    padding-left: 45px;
    border-bottom: 1px solid #D0D0D0;
    text-align: center;
    .social-icons-header {
        text-align: right;
        .social-icon-share {
            font-size: 30px;
            color: #AEAEAE;
            background-color: #FFF;
            border: 0;
        }
        .social-icon-share-text {
            font-size: 14px;
            font-weight: 600;
            color: #AEAEAE;
            text-transform: uppercase;
        }
    }
    .social-icons-content {
        text-align: left;
        .social-icon {
            margin: 0 10px;
            width: 35px;
            height: 35px;
            border: 0;
            color: #FFF;
            border-radius: 50%;
            cursor: pointer;
            font-size: 20px;
            margin: 0 30px;
            &:hover {
                transform: scale(1.10);
            }
        }
        .social-icon-number {
            font-size: 10px;
            font-weight: 700;
            margin-left: -25px;
            color: #AEAEAE;
        }
        .twitter {
            color: #4099FF;
            &:hover {
                color: #FFF;
                background-color: #4099FF;
            }
        }
        .linkedin {
            color: #117BB2;
            &:hover {
                color: #FFF;
                background-color: #117BB2;
            }
        }
        .facebook {
            color: #3B5998;
            &:hover {
                color: #FFF;
                background-color: #3B5998;
            }
        }
        .google-plus {
            color: #DB5A3C;
            &:hover {
                color: #FFF;
                background-color: #DB5A3C;
            }
        }
        .pinterest {
            color: #B61B29;
            &:hover {
                color: #FFF;
                background-color: #B61B29;
            }
        }
    }
}

.contact-us {
    background-color: #F7F7F7;
    padding-bottom: 50px;
    .contact-us-header {
        text-transform: uppercase;
        text-align: center;
        h1 {
            font-size: 30px;
            margin-top: 0;
            padding-top: 30px;
            color: #000;
        }
        p {
            font-size: 15px;
            margin-top: -20px;
            font-weight: 600;
            color: #ADADAD;
        }
    }
    .contact-us-form {
        margin-top: 60px;
        input {
            width: 250px;
            padding-bottom: 10px;
            font-size: 14px;
            background-color: #F7F7F7;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 2px solid #AEAEAE;
            margin-top: 30px;
            color: #9E9E9E; 
        }
        .input_more {
            width: 525px;
        }
        .input_message {
            margin-top: 80px;
        }
        .button {
            width: 194px;
            height: 45px;
            font-size: 14px;
            font-weight: 600;
            margin: 40px auto;
            padding-top: 13px;
            text-align: center;
            background-color: #B88B58;
            border-color: #B88B58;
            color: #FFF;
            border-radius: 25px;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                background-color: #000;
            }
        }
    }
}


[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 0px;
    width: 100%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}